@import "normalize.less";

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  background-color: #849d8f;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
}

.btn {
  display: inline-block;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  padding: 11px 22px;
  border-radius: 50px;
  text-decoration: none;
  text-align: center;
  vertical-align: top;
  background: #f26843;
  background: linear-gradient(0deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  border: none;
  cursor: pointer;

  &:hover {
    text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
    background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
    box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
  }

  &:active {
    color: rgb(252, 238, 236);
    text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
    background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
    box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
  }
}

.site-wrapper {
  min-width: 940px;
  background-color: #849d8f;
  background-image: url("../img/slide-item1.png");
  background-repeat: no-repeat;
  background-position: top center;
  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";

  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("../img/slide-item2.png");
}

.site-wrapper::after {
  background-image: url("../img/slide-item3.png");
}

.container {
  width: 1146px;
  margin: 0 auto;
}

.main-navigation {
  color: #fff;
  font-weight: bold;
  display: flex;
  flex-direction: row;

  a {
    color: #fff;
    text-decoration: none;
  }

  li {
    list-style: none;
    display: flex;
  }
}

.main-header-logo {
  margin-right: 6px;
}

.site-navigation {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;

  a {
    display: block;
  }

  li {
    position: relative;
  }
}

.nav-item {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 7px 13px;
  position: relative;

  a {
    position: relative;
  }

  &:hover {
    color: #000;
    background-color: #fff;
    border-radius: 20px;

    a {
      color: #000;

    }
  }

  &:active {
    background-color: rgba(248, 247, 244, 0.988);
    box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 0.4);
  }
}

.nav-item::before,
.user-navigation>li::before{
  content: "";
  position: absolute;
  left: 5px;
  bottom: -10px;
  background-color: transparent;
  height: 10px;
  width: 100%;
}

.nav-item > a::after {
  content: "";
  position: absolute;
  left: 1px;
  bottom: -1px;
  background-color: rgba(255, 255, 255, 0.2);
  height: 1px;
  width: 100%;
}

.site-navigation > li:hover .catalog_menu {
  display: flex;
}

.catalog_menu {
  position: absolute;
  padding-left: 0;
  display: none;
  flex-direction: column;
  font-weight: 400;
  width: 145px;
  box-sizing: border-box;
  top: 37px;
  left: -5px;
  border-radius: 5px;
  font-size: 14px;
  line-height: 16px;
  background-color: #fff;
  z-index: 10;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);

  a {
    color: #000;
    display: block;
  }

  li {
    padding: 10px 20px;
    position: relative;
    &:hover {
      background-color: #fbded8;
    }

    &:last-child:hover {
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;
    }

    &:first-child:hover {
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
    }

    &:active {
      background-color: #f6b5a5;
    }

    &:first-child::after {
      content: "";
      position: absolute;
      height: 1px;
      width: 80%;
      background-color: #d1d0ce;
      bottom: 0px;
      left: 15px;
    }
  }
}

.site-navigation,
.user-navigation {
  padding: 14px 0;
  margin: 0;
}

.user-navigation {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;

  padding-left: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;

  li {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 16px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    margin-left: 10px;

    &:first-child {
      margin-left: 0;
    }

    input{
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      padding: 11px 16px;
      box-sizing: border-box;
      border-radius: 5px;
      border: 1px solid #d3d3d2;
      width: 240px;
      margin-bottom: 20px;
    }
  }

  .search {
    width: 30px;
    height: 30px;
    padding: 6px 0;
    position: relative;
  }


  .login-link, .basket {
    position: relative;

    a {
      margin-left: 8px;
    }
  }

  .basket {
    padding-right: 30px;

    b {
      font-weight: 500;
      margin-left: 5px;
    }
  }

  .search:hover,
  .login-link:hover,
  .basket:hover {
    background-color: #fff;
    color: #000;

    a {
      color: #000;
    }

    .header-svg {
      fill: #000;
    }
  }

  .catalog_basket {
    background-color: #fff;
    color: #000;
  }
}

.search:hover>.search_form-wrapper{
  display: flex;
}

.search_form-wrapper{
  padding: 20px 16px;


  input[type="search"]{
    width: 320px;
    margin-bottom: 0;
  }
}

.login-link:hover>.login_form-wrapper{
  display: flex;
}


.search_form-wrapper,
.login_form-wrapper{
  display: none;
  position: absolute;
  top:40px;
  right: 0;
  background-color: #f8f7f4;
  border-radius: 5px;
  z-index: 5;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
}


.login_form-wrapper{
  width: 279px;
  min-height: 214px;
  flex-direction: column;
  
  padding: 21px;
  

  .login_form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 10px 14px;
    font-size: 16px;
    line-height: 24px;
    color: #000;
    box-shadow: none;
  }

  .login_form-bottom-line{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .login_form-links{
    display: flex;
    flex-direction: column;
    
    a{
      font-weight: 400;
      font-size: 13px;
      line-height: 24px;
      color: #323232;
      text-decoration: none;
      position: relative;
      
      &:after{
        content:"";
        position: absolute;
        height: 1px;
        width: 100%;
        background-color: #adacaa;
        bottom: 3px;
        left: 0;
      }
    }
  }
}



.header-contacts {
  color: #fff;
  font-weight: bold;
  text-align: right;

  p {
    font-size: 14px;
    line-height: 16px;
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  b {
    font-size: 22px;
    line-height: 24px;
  }
}

.slider {
  position: relative;
  padding-top: 277px;
  text-align: center;
  color: #ffffff;
}

.slider-list {
  margin: 0;
  padding: 0;
  padding-bottom: 39px;
  list-style: none;
}

.slide {
  display: none;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 27px;
  font-size: 60px;
  line-height: 60px;
  font-weight: 800;
}

.slide-button {
  padding: 12px 44px;
  font-weight: 600;
  font-size: 31px;
  line-height: 41px;
}

.slider-controls {
  position: absolute;
  bottom: 63px;
  z-index: 20;
  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;

  &:hover {
    background-color: rgba(255, 255, 255, 0.4);

  }
}

#product-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slide-item1.png");
}

#product-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slide-item2.png");
}

#product-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slide-item3.png");
}

#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}

.promo {
  color: #fff;
  font-weight: bold;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  .promo-item {
    background-position: top center;
    background-size: cover;
    border-radius: 20px;
    padding: 20px;
    max-width: 560px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 228px;
    box-sizing: border-box;
  }

  .promo-item_box {
    margin-bottom: 10px;
  }

  .promo-item_title {
    font-size: 35px;
    line-height: 41px;
    margin: 0;
  }

  .promo-item_descr {
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
    margin: 10px 0;
  }

  .raspberries {
    background-color: #5e0011;
    background-image: url("../img/raspberries-bg.jpg");

    &:last-child {
      margin-right: 0;
    }
  }

  .choco {
    background-color: #2e160a;
    background-image: url("../img/choco-bg.jpg");
  }

  .btn {
    align-self: flex-end;
  }

  & > article:nth-child(2n+1) {
    margin-right: 26px;
  }
}

.assortment {
  padding: 20px 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;

}

.assortment-item {
  color: #fff;
  max-width: 267px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-bottom: 33px;

  .assortment_img-price-box {
    position: relative;
  }

  .assortment_price {
    font-weight: bold;
    font-size: 45px;
    line-height: 45px;
    position: absolute;
    bottom: 20px;
    left: 0;
  }

  .assortment_descr {
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    margin: 8px 11px;
    text-align: center;
    z-index: 2;
  }

  .assortment_descr:hover {

    color: #ffbc9e;
  }

  img {
    border-radius: 100%;
  }

  .btn {
    display: none;
  }
}

.assortment-item:hover {

  .assortment_img-price-box {
    z-index: 2;
  }

  .btn {
    display: inline-block;
    z-index: 2;
    position: absolute;
    bottom: -50px;
  }
}

.assortment-item:hover::before {
  content: "";
  position: absolute;
  top: -10px;
  display: block;
  padding: 9px 13px;
  box-sizing: border-box;
  width: 290px;
  height: 405px;
  padding-bottom: 60px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.hit::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 61px;
  height: 61px;
  background-image: url("../img/hit.svg");
  background-repeat: no-repeat;
  z-index: 3;
}

.features {
  background-image: url("../img/wafer.jpg");
  background-color: #e5d4ad;
  background-position: center;
  border-radius: 20px;
  padding: 25px 20px;
  box-sizing: border-box;
  margin-bottom: 40px;

  .features_title {
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    color: #000;
    margin: 0;
  }

  li {
    list-style: none;
  }

  .features-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    & > li:nth-child(2n+1) {
      margin-right: 26px;
    }
  }

  .features-item {
    padding-left: 50px;
    max-width: 490px;
    position: relative;

    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      margin: 20px 5px 0;
    }
  }

  .ice-cream::before {
    content: "";
    width: 50px;
    height: 50px;
    background-image: url("../img/ice-cream.svg");
    background-repeat: no-repeat;
    position: absolute;
    top: 10px;
    left: 0;
  }

  .eco::before {
    content: "";
    width: 50px;
    height: 50px;
    background-image: url("../img/eco.svg");
    background-repeat: no-repeat;
    position: absolute;
    top: 10px;
    left: 0;
  }

  .cow::before {
    content: "";
    width: 50px;
    height: 50px;
    background-image: url("../img/cow.svg");
    background-repeat: no-repeat;
    position: absolute;
    top: 10px;
    left: 0;
  }

  .thermo::before {
    content: "";
    width: 50px;
    height: 50px;
    background-image: url("../img/thermometer.svg");
    background-repeat: no-repeat;
    position: absolute;
    top: 10px;
    left: 0;
  }
}

.news {
  margin-bottom: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;

  & > article:nth-child(2n+1) {
    margin-right: 26px;
  }
}

.news-item {
  border-radius: 20px;
  max-width: 560px;
  min-height: 220px;
}

.news-blog {

  background-image: url("../img/blog-bg.jpg");
  background-color: #fff;
  background-position: left;
  background-repeat: no-repeat;
  padding: 20px;
  padding-right: 150px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  .news-blog_descr {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    margin: 0;
  }

  a {
    color: #000;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;

    &:hover,
    &:focus,
    &:active {
      color: #e84d37;
    }

    h3 {
      margin: 0;
    }
  }
}

.subscribe {

  background: repeating-linear-gradient(-45deg, #f8f7f4, #F8F7F4 10px, #92cdff 0px, #92cdff 20px, #f8f7f4 0px, #F8F7F4 30px, #fe9e90 0px, #fe9e90 40px);
  padding: 7px;
  box-sizing: border-box;

  .subscribe-wrapper {
    background-color: #f8f7f4;
    height: 100%;
    border-radius: 20px;
    padding: 30px 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .subscribe_descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #6f6f6f;
    margin: 0;
  }

  form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .email {
    padding: 9px 15px;
    border: 1px solid #d3d3d2;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    border-radius: 5px;
    width: 100%;
    margin-right: 12px;
  }

  .btn {
    padding: 10px 15px;
  }
}

/*карта*/

.map-area{

  width: 100%;
  min-height: 430px;
  background: url(../img/map.jpg) no-repeat;
  background-position: 50% 0;
  background-size: cover;

  .container {
    position: relative;
  }

  .contacts {
    position: absolute;
    z-index: 5;
    top: 62px;
    right: 2.2%;
    color: #000;
    background-color: #fefefe;
    border-radius: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    min-height: 305px;
    max-width: 302px;

    p {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      max-width: 175px;
      margin: 0;
    }

    b {
      font-weight: bold;
      font-size: 18px;
      line-height: 24px;
      max-width: 225px;
    }
  }

  .map {
    height: 430px;
  }
}




.main-footer {
  color: #fff;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  padding: 20px 0;

  li {
    list-style: none;
  }

  a {
    color: #fff;
    text-decoration: none;
  }

  p {
    font-size: 12px;
  }

  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.footer-social {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer-social ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0;
  padding-left: 0;

}

.footer-social li {
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }
}

.social-button {
  display: block;
  width: 32px;
  height: 32px;
  background-size: cover;
  background-repeat: no-repeat;
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 100%;
}

.social_tw {
  background-image: url("../img/twitter.svg");
}

.social_inst {
  background-image: url("../img/instagram.svg");
}

.social_fb {
  background-image: url("../img/fb.svg");
}

.social_vk {
  background-image: url("../img/vk.svg");
}

.about {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 390px;

  .about_left {

    padding-left: 0;
  }

  .about_left,
  .about_right {
    margin: 15px 0 10px;
    li {
      position: relative;
    }
  }

  .heart {
    font-weight: bold;
  }

  .heart::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background-image: url("../img/heart.svg");
    background-repeat: no-repeat;
    top: 3px;
    left: -20px;
  }
}

.footer-copyright {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;

  font-weight: 400;
  font-size: 12px;
  line-height: 18px;

  img {

    width: 107px;
    height: 38px;

  }
}

.catalog {
  color: #fff;

  a {
    color: #fff;
  }

  li {
    list-style: none;
  }
}

.main-title {
  font-weight: bold;
  font-size: 35px;
  line-height: 41px;
  margin-bottom: 10px;
}

.breadcrumbs {
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.breadcrumbs {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  margin: 20px 0 5px 0;

  li {
    margin-right: 10px;
    position: relative;
  }

  a {
    padding: 5px;
  }
}

.breadcrumbs > li:not(:last-child):after {
  content: "\00bb";
  position: absolute;
  width: 6px;
  height: 7px;
}

.filters {

  label {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
  }

  .filters_title {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    margin: 0;
    margin: 10px 15px;
  }

  form {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-end;
    margin-bottom: 20px;
  }

  option,
  select:focus {
    background-color: #fff;
    color: #000;
  }

  .sorting {

    padding: 6px 15px;
    -webkit-appearance: none;

    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';

    /* for IE */
    -ms-appearance: none;
    appearance: none !important;
  }

  .params {
    background-color: #aabcb2;
    color: #fff;
    padding: 7px 15px;
    border-radius: 20px;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  .fat > li:not(:last-child) {
    margin-right: 17px;
  }

  .radio-fat {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
  }

  .radio-fat input[type="radio"] + .radio-indicator {
    position: absolute;
    top: -2px;
    left: 0;
    width: 22px;
    height: 22px;
    background-image: url("../img/radio-off.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }

  .radio-fat input[type="radio"]:checked + .radio-indicator::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 22px;
    height: 22px;
    background-image: url("../img/radio-on.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }
}

/*filles*/

.fillers-list > li:not(:last-child) {
  margin-right: 17px;
}

.fillers-list > li:last-child {
  margin-right: 35px;
}

.checkbox-fill {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}

.checkbox-fill input[type="checkbox"] + .checkbox-indicator {
  position: absolute;
  top: -2px;
  left: 0;
  width: 22px;
  height: 22px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.checkbox-fill input[type="checkbox"]:checked + .checkbox-indicator::after {
  content: "";
  position: absolute;
  top: 1px;
  left: 0;
  width: 25px;
  height: 22px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.params-btn {
  padding: 6px 25px;
  border: 2px solid #fff;
  font-weight: 500;
}

.params-btn:hover,
.params-btn:focus {
  background-color: #fff;
  color: #000;
}

.params-btn:active {
  box-shadow: inset 0px 2px 0px 1px rgba(105, 105, 105, 0.9);
  padding: 8px 27px;
  border: none;
}

.range-controls {
  position: relative;
  margin: 8px 0;
}

.range-line {
  height: 3px;
  background: #d1dad3;
  width: 185px;
}

.bar {
  width: 80%;
  height: 3px;
  background: #f8f7f4;
}

.range-bubble {
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;

  position: absolute;
  top: -9px;

  &:hover {
    background: #1c4f80;
  }
}

.min {
  left: 5%;
}

.max {
  left: 70%
}

.header_info {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.main-title {
  margin: 0;
  margin-bottom: 15px;
}

.filters {

  .indent {
    margin-right: 13px;
  }
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 23px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.page-number {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  & > li:first-child {
    background-image: url("../img/icon-right-small.svg");
    transform: rotate(180deg);
    opacity: 0.3;
    background-position: center;
    background-repeat: no-repeat;
  }

  & > li:last-child {
    background-image: url("../img/icon-right-small.svg");
    background-position: center;
    background-repeat: no-repeat;
  }

  a {
    text-decoration: none;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background-color: #fff;
      color: #000;
      border-radius: 100%;
    }
  }

}


.feedback-form{
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 6;
  display: none;
  box-sizing: border-box;
  width: 475px;
  height: 440px;
  padding-right: 25px;
  padding-left: 25px;
  color: #323232;
  background-color: #f8f7f4;
  border-radius: 10px;

  &_title{
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
  }

  input{
    box-sizing: border-box;
    margin-right: 0;
    padding: 10px 14px;
    font-size: 16px;
    line-height: 24px;
    color: #000;
    border: 1px solid rgba(178,178,178,.52);
    border-radius: 5px;
    box-shadow: none;
  }

  textarea{
    width: 428px;
    height: 155px;
  }
}


